/* @global/layout.css */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

nav :is(a) {
  color: var(--neutral-900);
  font-weight: 500;
}

nav :is(a)[aria-current] {
  text-decoration: 2px underline var(--main-500);
  text-underline-offset: 8px;
}

:is(p, li) strong {
  color: var(--neutral-800);
}

body {
  background-color: var(--neutral-200);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

body header > nav {
  border-block-start: solid 2px var(--neutral-900);
  display: flex;
  justify-content: end;
  align-items:  center;
  gap: 1rem;
  padding: .5rem 1rem;
}

body main {
  flex-grow: 999;
}

body > footer {
  border-block-end: solid 2px var(--neutral-900);
  align-self:  end;
  min-width: 100%;
}

body > footer nav {
  display: flex;
  align-items:  center;
  gap: 1rem;
  padding: .5rem 1rem;
}

body > footer nav a {
  opacity: .8;
}

body > footer nav a:hover {
  opacity: 1;
}

blockquote {
  border-left: 5px solid var(--main-500);
  margin: 2.5em 0;
  padding-left: 1.5em;
}

blockquote p {
  color: var(--neutral-900);
  font-size: 110%;
  font-weight: 600;
  line-height: 1.5;
}

blockquote mark {
  margin-inline-start: -.2em;
  margin-inline-end: -.2em;
  padding: .1em .2em;
}
