---
const { post } = Astro.props;
import ContentIcon from "./ContentIcon.astro";
---

<div class="content-container">
  <a href=`/${ post.id }`>
    <ContentIcon status={post.data.status} />
    <!-- <div class={post.data.status} id="icon"></div> -->
    <h2>{post.data.title}</h2>
    <time datetime=`${ post.data.date }`>
      {post.data.date.toISOString().split("T")[0]}
    </time>
  </a>
</div>

<style>
  .content-container {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: flex;
    transition:
      transform 0.1s,
      border 0.1s;
    transform-origin: left;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    padding-inline: 0.5rem;
    border-inline-start: 2px solid var(--neutral-900);

    &:hover {
      transform: scale(1.01);
      border-inline-start: 4px solid var(--main-500);
    }
  }

  #icon {
    width: 20px;
    aspect-ratio: 1;

    /* .new { */
    /*   background-image: url("../assets/images/empty-page.svg"); */
    /*   fill: var(--neutral-800); */
    /*   stroke: var(--neutral-800); */
    /* } */
  }

  time {
    color: var(--neutral-800);
    font-size: 85%;
    text-align: right;
    margin-inline-start: auto;
  }

  h2 {
    color: var(--neutral-800);
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
</style>
