---
import ContentItem from "./ContentItem.astro";

const { posts } = Astro.props;
---

<ul id="contentlist">
  {
    posts.map((post) => (
      <li data-tags={post.data.tags}>
        <ContentItem post={post} />
      </li>
    ))
  }
</ul>

<style>
  #contentlist {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
  }

  li {
    width: 100%;
  }

</style>
