---
const { title, date, tags } = Astro.props;
import TagList from "./TagList.astro";
---

<div class="header__main">
  <a class="back" href="/"> {"< Back"}</a>
  <h1>{title}</h1>
  <ul class="header__meta">
    <li class="meta">
      <strong>Published:</strong>
      <time time=`${date}`>{date.toISOString().split("T")[0]}</time>
    </li>
    <li class="meta">
      <strong>Tags:</strong>
      <TagList tags={tags} />
    </li>
  </ul>
</div>

<style>
  @layer components {
    .header__main {
      margin-block-end: 2rem;
    }

    .header__main > h1 {
      border-inline: 2px solid var(--neutral-800);
      padding: 0.5rem;
      text-align: center;
    }

    .header__meta {
      border-inline-end: 2px solid var(--neutral-800);
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 0.5rem;
    }

    .meta {
      display: flex;
      width: fit-content;
      /* margin-block: 0.5em; */

      /* strong { */
      /*   background-color: var(--neutral-800); */
      /*   color: var(--neutral-100); */
      /* } */
      border: 1px solid var(--neutral-800);
      border-inline-end: none;

      > * {
        padding-inline: 0.5ch;
      }
    }

    .back {
      border: 1px solid var(--neutral-800);
      padding-inline: 0.5ch;
      text-decoration: none;
      color: var(--neutral-800);
    }

    ul.header__meta {
      padding: 0;
      list-style-type: none;
    }

    .header__meta li {
      list-style: none;
    }
  }
</style>
