---
const { title, date, tags, status } = Astro.props;
import TagList from "./TagList.astro";
import NavLeft from "../assets/images/nav-arrow-left.svg"
import ContentIcon from "./ContentIcon.astro"
---

<a class="back" href="/"><NavLeft/>Back</a>
<div class="header__main">
  <h1>{title}</h1>
  <ul class="header__meta">
    <li class="meta">
      <time time=`${date}`>{date.toISOString().split("T")[0]}</time>
    </li>
    <li class="meta">
      <TagList tags={tags} />
    </li>
    <li class="meta">
      <ContentIcon status={status}/>
    </li>
  </ul>
</div>

<style>
  @layer components {
    .back {
      display: flex;
      align-items: center;
      width: fit-content;
      text-decoration: none;
      color: var(--neutral-800);
    }

    .header__main {
      margin-block-end: 2rem;
    }

    .header__main > h1 {
      padding-block: 0.5rem;
      /* text-align: center; */
    }

    .header__meta {
      display: flex;
      gap: 0.5rem;
    }

    .meta {
      display: flex;
      width: fit-content;
      /* margin-block: 0.5em; */

      /* strong { */
      /*   background-color: var(--neutral-800); */
      /*   color: var(--neutral-100); */
      /* } */

      /* > * { */
      /*   padding-inline: 0.5ch; */
      /* } */
    }


    ul.header__meta {
      padding: 0;
      list-style-type: none;
    }

    .header__meta li {
      list-style: none;
    }
  }
</style>
