---
import Tag from "./Tag.astro";
const { tags, activeTag } = Astro.props;
---

<ul class="taglist">
  {
    tags.map((tag: string) => {
      if (tag == activeTag) {
        const i = <Tag tag={tag} active="True" />;
        return <li>{i}</li>;
      } else {
        const i = <Tag tag={tag} />;
        return <li>{i}</li>;
      }
    })
  }
</ul>

<style>
  .taglist {
    list-style: none;
    display: flex;
    gap: 1ch;
    padding-inline-start: 0px;

    /* > :not(:first-child) { */
    /*   padding-inline-start: 1ch; */
    /* } */

    > :not(:last-child):after {
      content: ",";
    }
  }
</style>
