/* @library/gallery.css */
.gallery {
  list-style: none;
  width: 100%;
  padding: 0;
}

.gallery ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:  end;
  gap: .5rem;
  padding: 0;
}

.gallery li a {
  transform-origin: right;
  display: flex;
  border-inline-end: 2px solid var(--neutral-900);
  align-items:  center;
  gap: .5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-inline-start: .5rem;
  padding-inline-end: .5rem;
  transition: transform .1s, border .1s;
}

.gallery li a:hover {
  border-inline-end: 4px solid var(--main-500);
  transform: scale(1.01);
}

@media (max-width: 899.999px) {
  .gallery li a img {
    display: none;
  }
}

.gallery time {
  color: var(--neutral-800);
  text-align: right;
  margin-inline-start: auto;
  font-size: 85%;
}

.gallery h2 {
  color: var(--neutral-800);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: .9em;
  font-weight: 500;
  line-height: 1.5;
}

.gallery p {
  margin-block-start: .5em;
  margin-block-end: .5em;
}
