@layer settings, structure, content, components;

/* ___ LAYOUT ___ */

@layer structure {

  body {
    background-color: var(--neutral-200);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 999;
  }

  article {
    max-width: 70ch;
    margin: 0 auto;
  }

  header {
    nav {
      border-block-start: solid 2px var(--neutral-900);
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 1rem;
      padding: .5rem 1rem;
    }
  }

  /* global footer */
  footer {
    align-self: end;
    border-block-end: solid 2px var(--neutral-900);
    min-width: 100%;
    margin-block-start: 1em;

    nav {
      padding: .5rem 1rem;
      margin-block-start: 2rem;
      display: flex;
      gap: 1rem;
      align-items: center;

      a { opacity: .8 }
      a:hover { opacity: 1 }
    }
  }

  blockquote {
    border-left: 5px solid var(--main-500);
    padding-left: 1.5em;
    margin: 2.5em 0;

    p {
      font-weight: 600;
      line-height: 1.5;
      font-size: 110%;
      color: var(--neutral-900);
    }

    mark {
      padding: .1em .2em;
      margin-inline: -.2em;
    }
  }
}
