@layer settings, structure, content, components;

@layer settings {

  /* =============== CSS reset =============== */
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
  }

  /* =============== Colours =============== */
  :root {

    /* neutrals */
    --neutral-white: #ffffff;
    --neutral-900: #f2eadf;
    --neutral-800: #ccc5bc;
    --neutral-700: #b2ada4;
    --neutral-600: #807b75;
    --neutral-500: #66625c;
    --neutral-400: #33312e;
    --neutral-300: #262522;
    --neutral-200: #1a1817;
    --neutral-100: #0d0c0b;

    /* main colour */
    --main-900: #c5f7da;
    --main-800: #a8facb;
    --main-700: #8aedb4;
    --main-600: #6aeaa0;
    --main-500: #53d98b;
    --main-400: #2dc36c;
    --main-300: #17944b;
    --main-200: #0d7338;
    --main-100: #085629;

  }
}

@layer content {

  body {
    font-family: "DM Mono", serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--neutral-800);
    line-height: 1.6;
  }

  /* headings and subtitle */
  h1, h2, h3, h4, h5, h6 {
    color: var(--neutral-900);
  }

  h1 {
    letter-spacing: -4%;
    font-size: 3rem;
  }

  h2 {
    letter-spacing: -2%;
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.9rem;
  }

  h4, h5 {
    font-weight: 400;
    font-color: var(--neutral-800);
  }

  h4 {
    font-size: 1.55 rem;
  }

  h5 {
    font-size: 1.25 rem;
  }

  small {
    font-size: 0.8rem;
    font-weight: 400;
  }
}
